* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: solid 3px white;
  background-color: black;
  font-family: "Fredoka", sans-serif;
}
h1{
  color: white;
  text-align: center;
}